<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (userlogged) { %>
        <%- include('./partials/headerLogueado') %>
    <% }else{ %>
    <%- include('./partials/headerDeslogueado') %>
    <% } %>

    <main class="login">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                
                <form class="nueva" action="/posts/agregar" method="POST" enctype="multipart/form-data">   
                    <h2>Agregar Publicación</h2> 
                    <p>
                        <label for="">imagen</label>
                        <input type="file" name="imagen">
                    </p>
                    <p>
                        <label for="">Descripción</label>
                        <input type="text" name="descripcion">
                    </p>
                    <% if (error) { %>
                     <p><%= error %>  </p>
                    <% } %>
                    <p>
                        <button type="submit">Publicar</button>
                    </p>

                </form>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html>