<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (userlogged) { %>
        <%- include('./partials/headerLogueado') %>
    <% }else{ %>
    <%- include('./partials/headerDeslogueado') %>
    <% } %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle detalle-imagen">
                        <img src="<%= user.imagen %>" alt="foto de perfil" class="foto-perfil">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-center">
                        <div class="uk-flex uk-flex-middle detalle-nombre">
                            <h3 class="uk-margin-remove"><%= user.nombre_de_usuario %></h3>
                            <% if (userlogged && userlogged.id == user.id) { %>
                                <a href="/users/editarPerfil" uk-icon="icon:cog; ratio: 1.2" class="uk-margin-left"></a>
                            <% }else if (userlogged) {%>
                                <% if (following) { %>
                                    <form action="/users/unfollow" method="POST">
                                        <input type="hidden" value="<%= user.id %> " name="id">
                                        <button class="uk-button uk-button-small uk-button-primary uk-margin-left">Dejar de Seguir</button>
                                    </form>
                                <% }else { %>
                                    <form action="/users/follow" method="POST">
                                        <input type="hidden" value="<%= user.id %> " name="id">
                                        <button class="uk-button uk-button-small uk-button-primary uk-margin-left">Seguir</button>
                                    </form>  
                                <% } %>

                            <% } %>   
                        </div>
                        

                        
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                                <li><%= user.posts.length %>  <br> posts</li>
                                <li><%= user.followers.length %>  <br> seguidores</li>
                                <li><%= user.following.length %>  <br> seguidos</li>
                            </ul>
                        </div>
                    </div>
               </section>
               <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                    <% for( let i = 0; i < user.posts.length; i++ ) { %>
                        <% const post = user.posts[i] %> 
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center mario">
                            <a href="/posts/detallePost/<%= post.id %> " class="link-detalle">
                                <img src="<%= post.imagen %> " alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center"><%= post.descripcion %> </p>
                            </a>
                        </div>
                    <% } %>
                    </div>
               </section>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>